@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* DEBUG */
    border: 0px solid red;
     border-radius: 5px;
      /* DEBUG */
}
body{
    background: #e4e9f7;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box_transparent{
    
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
        background: rgba(255, 255, 255, 0.54);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 1px solid rgba(255, 255, 255, 0.65);
}

.box_transparentVotes{
    display: flex;
     flex-direction: row; 
     justify-content:space-between;
    
    
    padding: 25px 25px;
    border-radius: 20px;
        background: rgba(255, 255, 255, 0.54);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 1px solid rgba(255, 255, 255, 0.65);
        height: 300px;
}

.box_transparentUserList{
    padding: 25px 25px;
    border-radius: 20px;
        background: rgba(255, 255, 255, 0.54);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.4px);
        -webkit-backdrop-filter: blur(5.4px);
        border: 1px solid rgba(255, 255, 255, 0.65);
       
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 35px;
    background: rgb(84, 178, 211); 
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
    text-align: center;
    padding: 0 20px;
   

}



.btn:hover{
    background: rgb(84, 178, 211); 
    color:black;
    opacity: 0.89;
   
   
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

.nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    line-height: 60px;
    z-index: 100;
}
.logo{
  
  height: 50px;
    display: flex;
    justify-content:  center;
    text-decoration: none;
    padding: 0px;
    margin: 0%;
    
}

.right-links a{
    padding:  0 10px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}
@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
.message_bad{
    text-align: center;
    background: #f9eded;
    padding: 15px 0px;
    border:1px solid #699053;
    border-radius: 5px;
    margin-bottom: 10px;
    color: red;
}

.message_good{
    text-align: center;
    background: #c7e6cd;
    padding: 15px 0px;
    border:1px solid #6aad43;
    border-radius: 5px;
    margin-bottom: 10px;
    color: green;
}



.button-container {
    display: flex;
    justify-content: center;
    
  
}



.popup{
    height: auto;
    min-height: 0;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);

    width: 400px;
  
    
}



.user {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url('src/pfp.jpg');
}

.two {
  background-image: url('src/pfp.jpg');
}

.three {
  background-image: url('src/pfp.jpg');
}



.debug{
    border: 2px solid red;
  border-radius: 5px;
}


.floating-stack {
  background: #455a64;
  color: #fff;
  height: 300px;
  width: 320px;
  border-radius: 1rem;
  overflow-y: auto;
}

.floating-stack > dl {
  margin: 0 0 1rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
}

.floating-stack dt {
  position: sticky;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: bold;
  background: #263238;
  color: #cfd8dc;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 0.25rem 1rem;
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.floating-stack dd {
  grid-column: 2;
  margin: 0;
  padding: 0.75rem;
}

.floating-stack > dl:first-of-type > dd:first-of-type {
  margin-top: 0.25rem;
}



*{
    
    border-radius: 5px;
    align-items: center;
}
#container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-self: center;
    border: 2px solid seagreen;
    max-width: 40%;
}
#userList {
    width: 40%;
    max-height: 100%;
    overflow-y: scroll;
    border-right: 2px solid #ccc;
    margin-right: 20px;
}
.userItem {
    border: 1px solid black;
     border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.userItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.userItem.selected {
    background-color: rgb(84, 178, 211); /* Set the background color when selected */
    color: white; /* Optionally, change the text color for better contrast */
}

/* Icon button styling */
.icon-button {
    display: flex;
    flex-basis: 100%;
    border: 1px solid rgb(84, 178, 211); 
    border-radius: 5px;
    width: 75px;
    height: 75px;
    margin: 0px 20px;
    

   
    align-items: center;
    justify-content: center; 
   
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0;
    margin: 0; 
    align-content: center;
    transition: all .3s;
  
}

.icon-button.active {
    background-color: rgb(84, 178, 211); 
   color:  #fee101; 
}

.icon-button:hover {
    background-color: rgb(162, 223, 245); 
    padding: 10px;
}


.icon-button.active:hover {
    background-color:rgb(162, 223, 245); 
}
/* Text below each button */
#voteButtons {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around; 
    height: 1dvb; 
    width: 90%;
    padding: 0; 
    margin: 0; 
}



.button-label {
    display: block;
    text-align: center;
    margin-top: 3px; /* Keep some space, but as small as possible */
    font-size: 14px;
    line-height: normal;
    padding: 0; /* Remove padding to minimize space */
}
/* Comment field styling */
#commentField {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    margin: 0px 0px;
}

.bottomVote
{
display: flex;
flex-direction: column;
align-items: center;
width: 70%;
}
/* Endorse button styling */
#endorseButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(84, 178, 211); 
    color: white;
    border: none;
    cursor: pointer;
}
#endorseButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.table{
   
    vertical-align:middle;
  
}

.tableItems{
    border: 2px solid #fee101; 
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.voteIcon {
   
    display: flex;
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    
    
}

.pfpSelected{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    display: flex; 
    justify-self: center;
    margin-right: 20px;
}
#selectedUserInfo{
    display: flex; 
    flex-direction: row-reverse;
    justify-self: center;
}
textarea[name='commentField'] { 
    resize: none; 
    border: 1px solid rgb(84, 178, 211); 
    border-radius: 5px;
 } 

 .containerVote{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
   
}

.boxVote{
    background: #fdfdfd;
    display: flex;
    flex-direction: row;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    width: 1000px;
    height: 700px;
}

#voteSection
{
    display: flex;
    flex-direction: column;
    padding: px 25px 25px 25px;
    flex-grow: 1;
    width: 60%;
    height: 100%;
    max-height: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.voteBackButton
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    align-content:center;
}

.btnBack{
    height: 35px;
    background: rgb(84, 178, 211); 
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
   
    padding: 0px 10px;
    text-align: center;
    padding: 0 20px;
    padding: 10px 30px; ; 
}

#voteButtons
{
    display: flex;
    width: 100%;
    height: 150px;
  
}

.iconParent{
 
    height: 100px;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.textWinner{
    color:rgb(84, 178, 211); 
    font-size:20px;
    text-align: center;
   
}